@import "src/app/shared/variables.scss";
$raleway-font: "Raleway", sans-serif;
.login-container {
  @each $property, $value in $flex-center-styles {
    #{$property}: $value;
  }
  .logo {
    width: 400px;
    height: 100px;
    margin-bottom: 20px;
  }

  .form-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
      flex: 1;
      color: #0c0c0c;
      margin-right: 10px;
      font-family: $raleway-font;
    }
    input {
      width: 250px;
      padding: 3px;
      border: 1px solid black;
      border-radius: 4px;
      outline: none;
      box-shadow: 1.5px 1.5px black;
      //   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5),
      //    4px 0 4px rgba(0, 0, 0, 0.4); /* Add a black shadow below the input */
    }

    /* Style the input element on focus */
    input:focus {
      border: 2px solid black;
    }
  }

  .error-message {
    position: relative; /* Adjust as needed to place it below the input */
    color: red;
    font-family: $raleway-font;
    text-align: left;
    left: 80px;
    margin-top: 2px;
    font-size: small;
  }
  .error-list {
    list-style-type: disc; /* Use disc bullets */
    margin-left: -25px;
  }
  button {
    padding: 6px 15px;
    background-color: #727577;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:disabled {
      background-color: #d1cdcd; // Lighter color for disabled state
      cursor: not-allowed;
    }
  }

  .switch-link {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
  }
  /* Style the custom link */
  .custom-link {
    color: black;
    cursor: pointer;
  }
  .custom-link:hover {
    text-decoration: underline black;
  }
}
