@import "src/app/shared/variables.scss";
.banner-container {
  @each $property, $value in $flex-center-styles {
    #{$property}: $value;
   height: 100vh
  };
   
  .banner-button {
    width: 15%;
    height: auto;
    padding: 15px 0;
    background: white;
    box-shadow: 4px 4px black;
    font-size: large;
    border: 1px solid;
    // border-radius: 10px;
     white-space: normal; /* Allow text to wrap */
    margin: 12px;
    cursor: pointer;
    text-align: center;
    /*   hover effect */
    transition: color 0.3s ease, border-bottom 0.3s ease;

    &:hover {
      color:black;
      text-decoration: underline; /* Add underline on hover */
    }
  }
  // Add media query for smaller screens
  @media (max-width: 768px) {
    .banner-button {
      font-size: 10px;
    }
  }
}
