@import "src/app/shared/variables.scss";
.button-container {
  @each $property, $value in $flex-center-styles {
    #{$property}: $value;
    height: 100vh;
  }
}

.logo-container,
.buttons-container {
  text-align: center;
  position: relative;
}

.text {
  font-size: 38px;
  line-height: 32px;
  letter-spacing: 8px;
  font-weight: bolder;
  text-shadow: 0px 4px 4px rgba(15, 12, 12, 0.5);
}

.shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: black;
  transition: transform 3s ease;
}
.move-up {
  animation: moveUpAnimation 2s ease forwards; /* Slow upward animation */
  transform-origin: center bottom;
}

@keyframes moveUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px); /* Adjust the final position as needed */
  }
}

.gradient-button {
  padding: 18px 150px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to right, #000, #444, #777);
  color: white;
  font-size: 11px;
  cursor: pointer;
  margin-top: 25px;
  opacity: 0; /* Initially hide the buttons */
}

/* Animation for username button */
@keyframes appearButtons {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.username-button {
  animation: appearButtons 1.5s ease forwards;
  animation-delay: 1s; /* Delay the appearance of username button after logo */
}

.password-button {
  animation: appearButtons 1.5s ease forwards;
  animation-delay: 2s; /* Delay the appearance of password button after logo */
}
@media (max-width: 768px) {
  /* Adjust the styles for screens up to 768px wide */
  .button-container {
    margin: 10px;
  }

  .gradient-button {
    padding: 15px 130px;
  }
}

// @media (min-width: 768px) and (max-width: 1023px) {
//   .gradient-button {
//     padding: 15px 130px;
//   }
// }
@media (max-width: 480px) {
  .gradient-button {
    padding: 15px 130px;
  }
}
