@import "src/app/shared/variables.scss";
.logo-container {
  @each $property, $value in $flex-center-styles {
    #{$property}: $value;
    height: 100vh;
  }
 
  .logo {
    width: auto;
    height: auto;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .logo {
      width: 150px;
      height: 75px;
      margin: 0;
      padding: 0;
    }
    @media (max-width: 1170px) {
      .logo {
        width: 200px;
        height: auto;
      }
    }
  }
}
